<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New message</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <%- include('header') %>
    <main>
      <form action="/new" method="POST">
        <h2>New message</h2>
        <label for="text">Message </label>
        <textarea
          name="text"
          id="text"
          placeholder="WRITE SOMETHING HERE OR ELSE"
          rows="10"
        ></textarea>
        <label for="user"
          >Username

          <input type="text" name="user" id="user" />
        </label>
        <div class="wrapper">
          <a href="/"><button>Cancel</button></a>
          <button type="submit">Submit</button>
        </div>
      </form>
    </main>
  </body>
</html>
